/* shared css */

* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.main-shared-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 48px;
}

.main-shared-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

/* header sec */
header {
    width: auto;
    height: 850px;
    /* flex-shrink: 0; */
    background: rgba(229, 84, 115, 0.10);
    gap: 97px;
}

.head {
    display: flex;
    padding: 0px 240px;
    justify-content: space-between;
}

.head-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-top: 50px;
}

.head-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    margin-top: 197px;
}

.head-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 634px;
    margin: 32px 0px;
}

.shop-button {
    display: inline-flex;
    padding: 20px 43px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}

/* main */

.main-cont {
    margin: 178px 240px 128px 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ft-img-cont {
    display: flex;
    gap: 18px;
    margin-top: 48px;
}

.img1 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.img2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img3 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.img1size {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
}

.img2size {
    width: 370px;
    height: 370px;
    flex-shrink: 0;
}

.img3size {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
}

.link{
    display: flex;
    flex-direction: column;
}

.link-a{
display: flex;
justify-content: space-around;
margin-top: 32px;
}


.letest-deal {
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url('image/Rectangle\ 9.png'), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    margin: 128px 240px;
}

.letest-deal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-subs {
    display: flex;
    gap: 24px;
}

.email-subs input[type="email"] {
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.sub-button {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E55473;
    border: none;
}


/* insta section */
.insta {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 128px 240px;
}


.insta-img {
    display: flex;
    gap: 24px;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
}

.insta-des {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.bal {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
/* delivery deals */
.delivery {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: auto;
    height: 320px;
    margin: 128px 240px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.delivery-des {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
    margin-top: 24px;
}

/* hot deal */

.hot-deals {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: auto;
    height: 620px;
    margin: 128px 0px;
}

.hot-deals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.singup {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    margin-top: 32px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off {
    color: #E55473;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


/* footer */
footer {
    width: auto;
    height: 449px;
    background: #111010;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-title {
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.foot-des {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 625px;
    margin-top: 24px;
}

.f-shop-text {
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.copy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 32px;
}